footer, .footer-nav, .footer-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: 0 0 1.5rem 0;
}

.footer-nav {
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
}

.footer-nav a {
    color: var(--color-brown);
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-svg-wrapper a {
    padding: 15px;
}

footer h4 {
    font-size: 1.3rem;
    color: var(--color-brown);
    font-weight: 500;
}
