/* MAIN */

.main {
    height: 1000px;
}

.main-p {
    color: var(--color-green);
    font-size: 22px;
    padding: 0 20px;
    margin: 30px 0;
    font-weight: 800;
}

.main-wrapper {
    position: relative;
    display: flex; /*para a imagem ficar centrada depois de dar positions relative and absolute*/
    justify-content: center; /* ''' */
}

.main-image {
    margin-top: 80px;
    width: 90%;
    height: 55vw;
    position: absolute;
    border-radius: 30px;
}

.main-book-now {
    position: relative;
    width:70%;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fdfdfd;
}

.main-book-card {
    display: flex;
    align-items: center;
}

.main-book-img {
    width: 25%;
    border-radius:15px ;
    background-color: #4A6741;
}

.main-book-text {
    font-weight: 800;
    font-size: 14px;
    line-height: 30px;
    margin: 20px auto 0 auto;
    padding: 0 20px;
    color: var(--color-brown);
}

.main-book-text svg{
    margin: 10px;
    align-self: center;
 }

.main-link-wrapper {
    position: relative;
    font-size: 1.5rem;
    margin-top: 50px;
}

.main-link-book {
    background-color: var(--color-green);
    border-radius: 50px;
    width: 400px;
    padding: 30px 50px;
    color: #fff;
    text-decoration: 0;
    font-weight: bold;
}

.main-link-book {
    color: #fff;
}

.main-link-paragraph {
    margin-top: 50px;
    /* color: var(--color-green); */
    font-weight: 800;
    padding: 70px 100px;
    background-color: var(--color-brown);
    color: white;
}

/* TOP SPOTS */
.top-spots-title {
    padding: 20px 0px 40px  ;
    margin: 0;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    background-color:var(--color-green) ;
}
.top-card p {

    color:var(--color-brown);

}
.top-card .top-parag, h2 {
    color: white;
   
}
h2{
    font-size: 30px;
    font-weight: 500px;
}
.top-spots-wrapper {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    width: 100%;
    /* margin: 4rem auto; */
    background-color:var(--color-green) ;
    padding-bottom: 30px ;
}

.top-spot-img {
    height: 15vw;
    width: 20vw;
    border-radius: 20px;
    margin-bottom: 20px;
}

.top-more-details {
    color: white;
}

/*  SMALL ABOUT SECTION ON HOMEPAGE */

.homepage-about {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    gap: 100px;
    padding: 3vw 8vw;
    line-height: 40px;
    font-size: 1.2rem;
    
}

.about-img {
    width: 35vw;
    height: 25vw;
    border-radius: 20px;
}

.homepage-about-text {
    font-weight: 500;
    margin-top: -50px;
    padding: 10px 10px;
    border-radius: 30px;
}

.homepage-about-p{
    margin: 0;
    padding-bottom: 20px;
    color:var(--color-brown) ;
    
}

.btn-our-story {
    color: white;
    padding: 10px 60px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 800;
    background-color: var(--color-green);
}

/* REVIEWS */

.reviews {
    display: flex;
    /* margin: auto; */
    justify-content: space-between;
    /* margin: 4rem auto; */
    width: 100%;
    gap: 50px;
    background-color:var(--color-brown);
    padding: 5rem;
}

.card-img-top {
    width: 100px;
    margin: -30px;
}

/* GALLERY */

.gallery {
    background-color:white;
    /* margin-top: 5rem; */
    padding: 3rem;
}

.gallery-title {
    color: var(--color-green);
    font-weight: 800;
    padding-bottom: 50px;
}

.gallery-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    place-items: center;
    gap: 40px;
}
.gallery-card-img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}


/* Media Queries */

@media only screen and (max-width: 768px) {
    .main-image {
        visibility: hidden;
    }

    .main-p{
        margin-top: 100px;
        font-size: 16px;
    }

    .main-book-now {
        margin: auto;
        width: 90%;
    }
    .main-book-img {
        margin-top: 20px;
        width: 70%;
        border-radius: 20px;
    }
    .main-book-card {
        display: flex;
        flex-direction: column;
    }
    .main-book-text{
        font-size: 0.9rem;
        padding: 10px 20px;
    }
    .main-link-book{
        font-size: 18px;
        border-radius: 18px;
        padding: 20px 30px;
    }
    .main-link-paragraph{
        font-size: 1.3rem;
        padding: 50px 30%;
        background-color: #fff;
        color: var(--color-green);
    }


    .top-spots {
        margin-top: 57rem;
    }
    .top-spots-title{
        margin-top: -30px;
    }
    .top-spots-wrapper{
        width: 100%;
    }
    .top-card {
        margin: auto;
    }
    .top-spot-img {
        height: 20vw;
        width: 30vw;
        border-radius: 16px;
    }


    .homepage-about {
        display: flex;
        flex-direction: column;
        background-color: #eee;
    }
    .about-img{
        margin-top: 20px;
        width: 74vw;
        height: 50vw;
        border-radius: 30px;
    }
    .homepage-about-text{
        margin-top: -80px;
        color: #fff;
        background-color: var(--color-brown);
        height: fit-content;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    .homepage-about-p {
        padding-bottom: 20px;
    }
    .btn-our-story{
        color: #eee;
        background-color: var(--color-green);
    }
    

    .reviews{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 50px;
        margin-top: 50px;
    }
    .card {
        margin: auto;
    }
}