.locations-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    width: 90%;
    margin: 40px auto;
    
  }

  .locations-grid-card {
    border: 1px solid var(--color-green);
    border-radius: 10px;
    margin: 5%;
    width: fit-content;
  }

  .card-image {
    border-radius: 10px;
    margin: 20px;
    width: 250px;
  }

  .card_text {
    padding: 40px;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--color-green);
  }

  .card_title {
    font-size: 30px;
    padding: 10px;
    color: var(--color-green);
  }
  .card_body{
    padding-bottom: 20px;
  }
  .card_btn {
    color: var(--color-green);
    font-size: 20px;
  }


  /* Media Queries */

@media only screen and (max-width: 768px) {
  
  .carousel.slide {
    display: none;
  }
  .locations-grid-container {
    margin: 20% auto;
  }
  
}