.location-page {
    padding: 50px ;
    background-color: #fff;
}

.location-page-wrapper-links a{
    color: #4A6741;
    font-size: 1.2rem;
}

.location-page-wrapper-links{
    text-align: left;
    padding-bottom: 40px;
    gap: 2px;
}

.location-page-wrapper-description {
    display: flex; 
    justify-content: space-between;
    margin: 0px;
    gap: 30px;
}
.location-page-wrapper-img{
    width:50%;
}
.location-page-wrapper-img img{
    object-fit:cover;
    width:100%;height:100%;
    border-radius: 5px;
}

.location-page-wrapper-text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width:50%;

}
.location-page-title{
    color: #4A6741;
    font-weight: 500;
}

.location-page-wrapper-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -15px;
   
}
.location-page-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-icon{
    object-fit: cover;
    width:25px;
    height:25px;
    border-radius: 5px;
}

.location-page-wrapper-text a{
    width: 100%;
    height: 40px;
    border: 2px solid #4A6741;
    border-radius: 8px;
    background-color:#fff;
    font-size: large;
    color: #4A6741;
    text-align: center;
    padding: 10px 20px 35px 20px;
}

.location-page-wrapper-text a:hover {
    background-color: #4A6741; 
    color: white;
}


/* Comment Section */

.comment-section {
    width: 100%;
    padding: 20px 0;
}

.comment-section-heading, .comment-container {
    text-align: left;
    font-size: 2rem;
}

.comment-section-heading {
    font-size: 2rem;
    color: #4A6741;
    margin-top: 70px;
}

.old-comment, .comment-container {
    text-align: left;
    width: fit-content;
    font-size: 1.2rem;
    margin-bottom: 20px;
    
    background-color: #eee;
    border-radius: 15px;
}

.old-comment {
    padding: 10px 20px 1px 20px;
}

.comment-container {
    padding: 10px 20px 16px 20px;
}


.old-comment-user {
    font-weight: 700;
}

.old-comment-text{
    margin-top: -15px;
}

.comment-form-heading {
    font-size: 1.3rem;
    padding: 20px 0 10px 0;
    color: #4A6741;
    text-align: left;
}

#com-username, #user-comment {
    background-color: #fff;
    color: #4A6741;
    width: 30%;
    border-radius: 15px;
    margin-bottom: 20px;
}

#com-username {
    width: 250px;
}

#user-comment {
    width: 50%;
    height: 100px;
}

#com-username::placeholder, #user-comment::placeholder {
    color: #4A6741;
    font-size: 1rem;
}

.submit-comment-btn {
    background-color: #4A6741;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
}


/* For tablet  */
@media only screen and (max-width: 768px){

    .location-page-wrapper-links {
        margin-top: 50px;
    }
    .location-page-wrapper-description{
        display: flex;
        flex-direction: column;
    }

    .location-page-wrapper-img{
        width:100%;
        height:400px;

    }
    .location-page-wrapper-text{
        width:100%;
        margin-bottom: 40px;
    }

    .comment-section {
        width: 100%;
        padding: 10px;
    }
    
    .comment-section-heading {
        padding: 0 10px;
    }

    #com-username{
        width: 150px;
    }
    #user-comment {
        width: 100%;
    }
}

