/*GERAL*/

body{
  padding: 25px;
  

}

h1{
  font-size:3rem;
  font-weight:bolder;
  color: var(--color-green);
  padding-bottom: 70px; /*Para haver mais espaçamento entre o título da página e o resto do contéudo da página*/
}
.section-descripcion{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.title{
  
  font-weight:bolder;
  font-size: 1.5rem;
}

.section-line{
  border: 1px solid var(--color-green);
  width: 50rem;
  text-align: center;
}

.services, .tents, .additions{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  margin-bottom: 100px;
  padding: 30px;
}

.service-card, .tent-card, .additions-card{
  min-width: 150px;
  padding: 20px;
  border: 1px solid var(--color-green);
  border-radius: 10px;
}

.image-line{
  border: 1px solid var(--color-green);
  border-radius: 10px;
}

.service-icons, .additions-icons{
  width: 4rem;
  height: 4rem;
}

/*SERVIÇOS!!!*/

.service-card{
  width: 12rem;
  height: 17rem;
  border: 1px solid var(--color-green);
}

.service-camping{
  font-size: 1.2rem;
}

.service-prices{
  font-size: 0.9rem;
}

.add-service{
  background-color: var(--color-green);
  padding: 0rem 0.5rem 0.1rem 0.6rem; /*Para arredondar mais o botão */
  font-size: 2rem;
  text-align: center;
  color: #eee;
  border: none;
  border-radius: 10px;
  border: 2px solid var(--color-green);
}

.add-service:hover{
  background-color:#eee;
  color: var(--color-green);
}

/*TENDAS!!!!*/

.tents{
  gap: 2rem;
}

.tent-images{
  width: 20rem;
  height: 18rem;
  border-radius: 10px;
}

.tent-name{
  font-size: 1.4rem;
}

.tent-price{
  font-size: 0.9rem;
}

.content{
  text-align: left;
  font-size: 1rem;
  
}

.view-more-tents{
  padding: 15px 70px;
  font-size: 1.3rem;
  font-weight: 200;
  color: white;
  background-color: var(--color-green);
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  
}

.view-more-tents:hover{
  background-color: #eee;
  border: 2px solid var(--color-green);
  color: var(--color-green);
}

/* ADDITIONS!! */

.additions-card{
  width: 12rem;
  height: 14rem;
  border: 1px solid var(--color-green);
}

.addition-name{
  font-size: 1.2rem;
}

.view-more-additions{
  font-size: 1rem;
  font-weight: 200;
  width: 75%;
  padding: 15px 0px;
  background-color: var(--color-green);
  border: 0;
  color: #eee;
  border: 2px solid var(--color-green);
  border-radius: 10px;
}

.view-more-additions:hover{
  background-color: #eee;
  color: var(--color-green);
}

/*   MEDIA QUERIES    */

@media only screen and (max-width: 768px){
  .services, .additions{
    gap: 20px;
  }

  .tent-images{
    width: 10rem;
    height: 10rem;
  }
  
  .additions-card{
    padding-bottom: 50px;
  }
}